main {
  padding-right: 20vw;
  padding-left: 20vw;

  .title {
    text-align: center;
  }

  h2 {
    margin-bottom: 1.5rem;
  }

  img {
    display: block;
    margin: auto;
    padding-top: 10vh;
    padding-bottom: 8vh;
  }

  p {
    margin-bottom: 1.5rem;
  }

  ul {
    list-style-type: none;
  }

  li:before {
    content: '- ';
  }

  aside {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}